*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background: red;
    height: 300px;
}
.main{
    background: #000;
    height: 200px;
}
footer{
    background: #ccc;
    height: 100px;
}