<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="shortcut icon" href="img/home/huihui.ico">
    <meta charset="UTF-8">
    <title>类别-惠惠网 - 惠惠</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="bootstrap-3.3.4-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/swiper-4.2.6.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="sorts">
<!-- 顶部导航-->
<header>
    <div class="headertop">
       <div class="home">
           <a href="index.html"><i><img src="img/home.png" alt=""></i></a>
       </div>
       <div class="logo">
        <img src="img/home/hui_logo.png" alt="">
       </div>
       <div class="cate">
           <p></p>
       </div>
    </div>
</header>
<!-- mian-->
<div class="gaa"></div>
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <ul class="sorttext">
                    <li class="active bb">小编精选</li>
                    <li class="bb">原创精选</li>
                    <li class="bb">优质晒单</li>
                    <li class="bb">锦囊百科</li>
                    <li class="bb">购物清单</li>
                </ul>
            </div>
            <div class="col-xs-9">
                <div class="sotlis">
                    <div class="row">
                        <div class="col-xs-4" v-for="lis in lists">
                            <img :src="lis.img" alt="">
                            <h5>{{lis.name}}</h5>
                        </div>
                    </div>
                    <h4><span>丨</span> 你可能喜欢</h4>
                    <div class="row">
                        <div class="col-xs-6" v-for="lis in lit">
                            <img :src="lis.img" alt="">
                            <p>{{lis.name}}</p>
                            <span>{{lis.o}}</span>
                        </div>
                    </div>
                </div>
                
<!--                第二个-->
                <div class="sotlis">
                    <div class="row">
                        <div class="col-xs-4" v-for="lis in lists1">
                            <img :src="lis.img" alt="">
                            <h5>{{lis.name}}</h5>
                        </div>
                    </div>
                </div>
<!--                第三个-->
                 <div class="sotlis">
                    <div class="row">
                        <div class="col-xs-4" v-for="lis in lists2">
                            <img :src="lis.img" alt="">
                            <h5>{{lis.name}}</h5>
                        </div>
                    </div>
                </div>
<!--                第四个-->                
                 <div class="sotlis">
                    <div class="row">
                        <div class="col-xs-4" v-for="lis in lists2">
                            <img :src="lis.img" alt="">
                            <h5>{{lis.name}}</h5>
                        </div>
                    </div>
                </div>
 <!--                第五个-->               
                 <div class="sotlis">
                    <div class="row">
                        <div class="col-xs-4" v-for="lis in lists2">
                            <img :src="lis.img" alt="">
                            <h5>{{lis.name}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--
<div id="top"></div>
<div id="top-size"></div>
-->
<div id="mian"></div>
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/swiper-4.2.6.min.js"></script>
<script src="bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/script.js"></script>
</body>
</html>